.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav{
  list-style-type: none;
  overflow: hidden;
  background-color: #fbfbfb;
  color: black;
}
.nav-links h3{
  display: inline;
}
.nav-link-right{
  float: right!important;
}
.nav-links li{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase !important; 
  color: black;
  float: left;
  margin: 0 15px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.plp{float: left;
  /* display:flex; */
  display:contents;
  flex-direction: column;
}
.plp img{
  width: 100%;
    height: 500px;
}
.plp-ul{
  padding: 0 0 0 0;
  margin:0%;
  display: inline-flex;
  float: left;
  margin: 9em;
}
.plp-products{
  width: 100%;
  height: 33%;
  float: left;
  padding-bottom: 50px;
  /* padding: 0.5%; */
}
.plp-products a{
  text-decoration: none;
}
.plp li{
  text-align: left;
  display: list-item;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.plp-header{
  float: left;
  font-size: 42px;
  margin: 80px 0 87.6px 101px;
  display: flex;
  align-items: center;
  margin: 1em 3em 0 2em;
}
.plp-product-name {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  text-decoration: none!important;
  color: #1D1F22;
  margin-bottom: 2px;
}
.plp-products-inside {
  width: 90%;
  height: 100%;
  text-align: center;
  padding-right: 5%;
}

.plp-pre-products {
  float: left;
  width: 33.3%;
}
.naber{
  float: right;
  border: none;
  background-size: 65px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 70%;
  background-color: rgba(255, 255, 255, .4);
  border-color: chartreuse;
}
.naber img {
  width: 35px;
  height: 35px; 
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center; border-radius: 30%;
  background-color: chartreuse;
}
.naber img:hover{
  cursor: grab
}
/* Hover animation */
.plp-products-inside:hover{
  border: 10px  #BFBFBF;
  transform: scale(1.1);

  /* background-color: rgb(15, 14, 14); */
  box-shadow: 15px 15px 10px #aaaaaa;
}
.nav-link-right img{
  width: 35px;
  height: 35px;
}
